<div class="category-form">
    <form [formGroup]="categoryForm" (ngSubmit)="onSubmit()">

        <input [ngClass]="{'is-invalid': hasErrors('name', 'required')}" type="text" formControlName="name"
            class="form-control input-category" placeholder="Nombre">

        <textarea formControlName="description" class="form-control input-description"
            placeholder="Descripción"></textarea>
        <div class="edit-post-buttons">
            <button type="submit" class="save-button">Guardar</button>
            <button type="button" class="discard-button" (click)="discardButton()">Descartar</button>
        </div>
    </form>
</div>