<div class="card-info">
    <div class="header-info">
        <div class="image-info">
            <img src="assets/svg/globe-color.svg" alt="globe">
        </div>
        <div class="content-info">
            <span class="title-info">Publicar sueño</span>
            <p class="message-info" [innerHTML]="infoMessage"></p>
        </div>
        <div class="actions-info">
            <button class="desactivate-info" type="button" (click)="confirmInfo()">Confirmar</button>
            <button class="cancel-info" type="button" (click)="dismissInfo()">Seguir editando</button>
        </div>
    </div>
</div>