.background {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-color);
    font-size: 1.2em;
    overflow: hidden;
    position: relative;
    z-index: 0;
    /* Asegura que esté detrás de .moon */
}

.category-donut {
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow: none;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.category-donut,
.header,
.left-content,
.right-content {
    z-index: 2;
}

header {
    height: 5%;
    background-color: var(--background-color);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header button {
    float: left;

}



.content {
    width: 100%;
    height: 85%;
    display: flex;
    background-color: var(--secondary-color);
    flex-direction: row;
    justify-content: space-around;
}

footer {
    width: 100%;
    height: 10%;
    background-color: var(--background-color);
}

/* HEADER */
.text-moon {
    width: 5%;
    margin: 3%;
}

/* CONTENIDO DE GRÁFICOS */
.left-content,
.center-content,
.right-content {
    height: 100%;
}

.left-content {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.center-content {
    width: 50%;
    display: flex;
    padding: 2%;
}

.category-donut {
    width: 100%;
    height: 100%;
    display: flex;
}


.right-content {
    padding-top: 1%;
    padding-bottom: 1%;
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.selected-range {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text {
    color: var(--light-color);
}

app-people-pie {
    display: flex;
    justify-content: center;
}

.people-pie {
    margin: 5%;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.dreams-count-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dreams-count-container div {
    display: flex;
    flex-direction: row;
}

.dreams-count {
    background-color: var(--background-color);
    margin: 3%;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 5px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    color: var(--yellow-color);

}


/* BOTÓN VOLVER */
.back-diary {
    --color: 104, 113, 241;
    transition: .3s;
    background-color: var(--background-color);
    color: var(--light-color);
    fill: var(--light-purple-color);
    font-size: 20px;
    cursor: pointer;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5em 1em;
    border: none;
}

.back-diary span {
    transform: scale(.8);
    transition: .3s;
}

.back-diary:hover span {
    transform: scale(1);
}

.back-diary svg {
    font-size: 0;
    transform: scale(0.5) translateX(0%) rotate(-180deg);
    transition: .3s;
}


.back-diary:active {
    transition: 0s;
}


.back-diary:hover svg {
    font-size: 20px;
    transform: scale(1) translateX(-20%) rotate(0deg);
}

/* SELECT */
.selected-range {
    position: relative;
}

.selected-range select {
    appearance: none;
    -webkit-appearance: none;
    width: 100%;
    font-size: 18px;
    padding: 5px 10px 5px 10px;
    background-color: #3A4058;
    border: none;
    border-radius: 10px;
    color: #666D89;
    cursor: pointer;
    outline: none;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.15);
}

.selected-range select:focus {
    background: #3A4058;
    border-radius: 10px;
}

.selected-range::after {
    content: "";
    position: absolute;
    pointer-events: none;
    top: 50%;
    right: 20px;
    transform: translate(0, -50%);
    width: 12px;
    height: 12px;
    background-color: #666D89;
    clip-path: polygon(8% 17%, 0% 25%, 50% 84%, 100% 25%, 92% 17%, 50% 65%);
}

/* LOGO FOOTER ++++++++++ */
.logo-container {
    position: absolute;
    bottom: 0.5%;
    left: 2%;
}

.logo {
    width: 25%;
}

/* LOGO CENTER ++++++++++ */

.moon {
    position: absolute;
    top: 37%;
    left: 42.5%;
    width: 15%;
    z-index: 1
}